@model PManager.Domain.Entities.Laptop

@{
    ViewBag.Title = "Laptop Entry Form";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm()) 
            {
                @Html.AntiForgeryToken()
    
                <div class="form-horizontal">
                    <h4>Laptop Registration</h4>
                    <hr />
                    @Html.ValidationSummary(true)

@*                    <div class="form-group">
                        @Html.LabelFor(model => model.CarType, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CarType)
                            @Html.ValidationMessageFor(model => model.CarType)
                        </div>
                    </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.SerialNumber, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SerialNumber)
                            @Html.ValidationMessageFor(model => model.SerialNumber)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LaptopName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LaptopName)
                            @Html.ValidationMessageFor(model => model.LaptopName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Cost, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cost)
                            @Html.ValidationMessageFor(model => model.Cost)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            @Html.ActionLink("Back to List", "Resources", null, new { @class = "btn btn-success" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
