@model PManager.Domain.Entities.User

@{
    ViewBag.Title = "Edit Profile";
    string userrole = Roles.GetRolesForUser(WebSecurity.CurrentUserName)[0];
    if (userrole == "Manager")
    {
        Layout = "~/Views/Shared/_LayoutManager.cshtml";
    }
    else if (userrole == "Admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}


<div id="page-wrapper">

    <div class="row" style="padding-top: 15px;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>Edit User</h4>
                <hr />
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Firstname, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Firstname,null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Firstname)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Middlename, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Middlename)
                        @Html.ValidationMessageFor(model => model.Middlename)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Lastname, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Lastname)
                        @Html.ValidationMessageFor(model => model.Lastname)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-success" /> <a class="btn btn-default" href="/User/Index">Back to list</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div>
    </div>
</div>